.header_body{
    width: 100%;
    height: max-content;
    padding: 20px 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_container{
    width: max-content;
    height: max-content;
    padding: 2px;
}

.header_logo_container h3{
    color: #fff;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.header_logo_container h3 span{
    color: green;
}

.header_nav_container{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_nav_container, .menuNotActive, .menuActive{
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: all 350ms ease-in-out;
}

.header_nav_container a:hover, .menuNotActive:hover{
    color: green;
}

.menuNotActive{
    color: #e1e1e1;
}

.menuActive{
    color: green;
}

.header_contact_me_btn{
    width: max-content;
    height: max-content;
    padding: 10px 30px;
    color: green;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 6px;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}

.header_contact_me_btn:hover{
    color: #fff !important;
    background-color: green;
}

.bugger_menu_icon{
    font-size: 34px;
    color: #fff;
    display: none;
}



@media screen and (max-width: 768px){

    .header_body{
        padding: 20px 16px;
    }

    .bugger_menu_icon {
        display: flex;
    }

    .header_nav_container{
        display: none;
    }

}